body{
    background-color: rgb(241, 241, 241);
  /*  border: solid blue 3px; */
    margin: 0 auto;
}

.mainContainer{
   /* background-color: rgb(255, 255, 255); */
  /*  border: solid red 3px;  */
}

.chatContainer{
    width: 490px;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 15px 15px 15px rgb(241, 241, 241); 
    border-radius: 15px;
    border: solid rgb(241, 112, 39);
}

header{
 /*   background-color: rgb(241, 112, 39); */
    display: flex;
    background: linear-gradient(to right, #d94818, #f47c21);
    margin: 0 auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
}

.myChat{
    background-color: rgb(60, 55, 68);
    color: rgb(112, 108, 119);
}

.theirChat{
    background-color: rgb(245, 244, 247);
    color: #3c3745;
}

.backArrow{
    padding: 5px;
    margin: 5px;
    
}

.name{
    /*
    padding: 5px;
    margin: 5px;
  */  font-size: 20px;
    
}

.description{
/*    padding: 5px;
    margin: 5px;
  */  font-size: 12px;
    
}

.chatArea{
    font-size: 14px;
}

footer{
    font-size: 12px;
    display: inline-flexbox;
    color: #c2c6cd;
    border-top-color: #c2c6cd;
    border-top: solid;
}

.textEntry{
}

.buttons{
    text-align: right;
}